/* ベーススタイル */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f6f6f6;
}

/* ヘッダー */
header {
    background-color: #ffc99c;
    color: #fff;
    padding: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header h1 {
    text-align: center;
}

header img {
    width: 90px;
    height: 30px;
    margin: 10px 0 0 10px;
}

/* メインコンテンツ */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.music-genre {
    display: flex;
    justify-content: center;
}

.music-item {
    margin: 0 20px;
    text-align: center;
}

.music-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.music-item p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}